.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-image-1 {
  width: 157px;
  height: 121px;
  margin: 39px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  width: 505px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  margin: 7px 101px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 445px;
  }
}