.u-section-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 8px auto 0 0;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-table-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -56px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -543px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 43px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 51px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 51px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 52px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 52px 80px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 52px 80px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 240px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -776px;
    margin-right: -51px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 276px;
  }

  .u-section-1 .u-btn-9 {
    margin-bottom: 0;
  }
}